/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body{
    background-color: steelblue;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

#main {
    width: 100%;
    height: 200px;
    background-color: floralwhite;
}